@{
	ViewBag.Title = "Home Page";
}

@model GitHubWebUserFinder.Models.UserSearch


<div class="jumbotron">

	<h1>GitHub user search!</h1>

	@using (Html.BeginForm("Search", "Home", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.TextBoxFor(model => model.Criteria)<br/>
		@Html.ValidationMessageFor(model => model.Criteria)<br/>
		<button type="submit">Search</button>
	}
</div>