@{
	ViewBag.Title = "Home Page";
}

@model GitHubWebUserFinder.Models.SearchResult


<div class="jumbotron">

	@Model.User.FullName
	@Model.User.Alias
	@Model.User.CurrentLocation
	@Model.User.AvatarUrl

</div>